<nav class="navbar navbar-default navbar-fixed-top headerfooter" style="background-color:#a0b6c0" id="header">
  <app-msgs></app-msgs>
  <div class="container-fluid" style="font-size:15px;">
    <div class="navbar-header">
      <table width="100%">
        <tr>
          <td style="width:640px;">
            <!-- img [src]="bCollapsed ? 'assets/sie-logo.gif':'assets/headervisual2.png'" #headerVisual  [style.margin-left]="bCollapsed ? '40px' : ''" /-->
            <img src="assets/headervisual2.png" style="margin-left0px;" #headerVisual />
            <img src="assets/sie-logo.gif"      style="margin-left40px;position:absolute;top:1px;left:40px;" />
          </td>
          <td style="vertical-align:top;">
            <div style="margin-left:9px;float:left;margin-top:13px;">
              <strong>UNICO++</strong>
              <br>
              Siemens Database for Research Collaborations
            </div>
            <div class="headertext" style="float:right;margin:11px;width:80px;font-size:11px;">
                <img src="assets/person-white.png" />
                &nbsp;
                <a href="#" class="headertext" style="color:white !important;margin-left:6px;" (click)="onLogout()">&gt; Logout</a>

              <div style="margin:11px;font-size:11px;color:white;" [hidden]="!loading()">
                  <img src="assets/wait.gif" /><!-- [style.margin-top]="bCollapsed ? '' : '66px'" -->
              </div>
            </div>
          </td>          
        </tr>
      </table>
    </div>
  </div><!-- /.container-fluid -->

  <div class="container-fluid" style="background-color:#999999;height:22px;">
    <div class="navbar-header" style="padding-top:1px;color:white;margin-left:33px;">
      <table style="float:left"><tr>
        <td style="vertical-align:bottom;"> <div class="breadcrumb-portal-home" style="padding-left:7px;height:16px;">&nbsp;</div> </td>
        <td class="headertext" style="vertical-align:top;"> &nbsp; UNICO++ 1.3.9 Test </td>
        <td style="float:left;margin-left:19px;vertical-align:top;">
          <div class="ui-ico-n ui-icon-mail-op-en" style="color:white !important;display:inline;float:left;background:url(assets/pagetools.gif) no-repeat 0 -11px;height:9px;width:19px;margin-top:3px;">
            <a href="mailto:unico@siemens.com">
                &nbsp;&nbsp;&nbsp;
            </a>
          </div>
          <div style="float:left;">
            <a href="mailto:unico@siemens.com" style="color:white !important;margin-left:3px;">
                Contact
            </a>
          </div>
        </td>
      </tr>
      </table>
      <div style="float:right;padding-right:9px;color:white;vertical-align:middle;">
        <div [class]="bCollapsed ? 'fa fa-level-down' : 'fa fa-level-up'" style="padding-top:0px;" #collapseIcon>
          &nbsp;
        </div>
        <div style="float:right;">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="fa fa-history" style="padding-top:0px;cursor:pointer;" title="Server Call History" (click)="onHistory();">
            &nbsp;
          </div>
          &nbsp;&nbsp;
          <a href="#" style="color:white !important;" (click)="onHelp();">
            
            <img src="assets/help_A.gif" alt="Help" title="help" />
            
          </a>
        </div>
        <div style="float:right;">
          <a href="#"  #collapseText style="color:white !important;" (click)="onCollapse(collapseIcon, collapseText, headerVisual);"> {{bCollapsed ? 'Expand' : 'Collapse'}}</a>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>
