<div #collaborationdistribution id="collaborationdistributionid">
  <div>
    <h4 style="margin-top:33px;">Collaboration distribution:</h4>

    <button (click)="onPDF(collaborationdistribution)" class="button_pdf" pTooltip="Export as PDF" tooltipPosition="top">
      <img src="assets/file_pdf.png"/>
    </button>
    <div>
      <app-graph *ngFor="let data of datas;trackBy:id; let i = index" [data]="data" [datasIndex]="i" [dropHandler]="onDD">
      </app-graph>
    </div>
    <h5 *ngIf="datas.length < 1" style="text-align:center;margin-top:99px;">
      No charts available.
    </h5>
  </div>
</div>
