@keyframes ngfordd
{
  0%, 100%
  {
      opacity:0.66;
      transform: rotate(-0.3deg);
  }
  50%
  {
      opacity:0.7;
      transform: rotate(0.3deg);
  } 
}

.ui-state-highlight-drag
{
    background-color:lightgray;
    color:black;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
    animation: ngfordd 0.3s infinite;
}
.ui-state-highlight-drop
{
    background-color:darkgrey;
    color:red;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
    animation: ngfordd 0.1s infinite;
    animation-direction: alternate;
}
@keyframes ngforchartani
{
  0%
  {
    padding-left: 100px;
    background-color: aquamarine;
  }
  100%
  {
    padding-left: 0px;
  } 
}
.ngforchart
{
  animation: ngforchartani 1s;
}

/* there is no parent selector in css!
div < div.ui-state-highlight-drag { background-color:red; }
*/
