<div>
  <!-- [style]="{'width':'40px'}" works only if [resizableColumns]="false" -->

  <textarea #cpytextarea style="position:absolute;"></textarea>

  <p-dataTable [value]="getCallList()"
      [rows]="30"
      [paginator]="true"
      [style.display]="'block'"
      selectionMode="single"
      [editable]="false"
      [resizableColumns]="false"
			[reorderableColumns]="false"
			[scrollable]="true"
			[responsive]="true"
			(onRowSelect)="onRowSelect($event)"
      [csvSeparator]="';'"
      #wsCallDataTable>

      <p-header>
        <div>
          <span style="color:red;margin-left:33px;">{{ getCallList().length + ' calls' }}</span>
          <a #historyCSVDownload href="data:text/csv;charset=utf-8," download="webservice-call-history.csv" target="_new"></a>
          <a href="#" (click)="wsCallDataTable.exportCSV()" style="margin-left:9px;text-align:right;float:right;height:16px;"
            pTooltip="Open in Excel as in the Table, {{wsCallDataTable.csvSeparator}}-separated"
            ><img src="assets/file_excel.png" /></a>
          <a href="#" (click)="onExcelExport($event, historyCSVDownload)" style="text-align:right;float:right;"
            pTooltip="Open in Excel with Details, TAB separated"
            ><img src="assets/file_excel.png" /></a>
        </div>
      </p-header>
      <p-footer><span style="color:red;margin-left:33px;">{{ 'Server worked for '+ getSumServerWork() + ' ms in sum' }}</span></p-footer>

      <!-- idx -->
      <p-column field="id" header="idx" [style]="{'width':'11px'}">
		    <ng-template pTemplate="header">
          ID
		    </ng-template>
        <ng-template pTemplate="body" let-call="rowData" let-rowIndex="rowIndex">
          <div class="cell" style="width:9px;white-space:nowrap"
            (click)="onRowSelect(call)">
              {{ call.id }}
          </div>
        </ng-template>
      </p-column>
      <!-- name -->
      <p-column field="name" header="name" [filter]="true" filterMatchMode="contains" [style]="{'width':'70px'}"
        sortable="custom" (sortFunction)="sort($event)">
		    <ng-template pTemplate="header">
			    <span label="Name"
            style="padding:4px;"
            pTooltip="Find!" tooltipPosition="top"
          >Name</span>
		    </ng-template>
        <ng-template pTemplate="body" let-call="rowData">
          <div pTooltip="Call Name"
            tooltipPosition="top"
            class="cell" style="width:9px"
            (click)="onRowSelect(call)">
              {{ call.name }}
          </div>
        </ng-template>
      </p-column>
      <!-- OK -->
      <p-column field="id" header="OK?" [filter]="true" [style]="{'width':'70px'}"
        sortable="custom" (sortFunction)="sort($event)">
		    <ng-template pTemplate="header">
			    <span label="OK?" style="padding:4px;">OK?</span>
		    </ng-template>
        <ng-template pTemplate="body" let-call="rowData">
          <div pTooltip="OK?"
            tooltipPosition="top"
            class="cell" style="width:100%;text-align:center;vertical-align:middle;"
            (click)="onRowSelect(call)"
            [style.background-color]="call.success ? 'lightgreen' : (call.end ? 'red' : 'orange')">
              {{ call.end ? call.success : 'running...' }}
          </div>
        </ng-template>
      </p-column>
      <!-- time -->
      <p-column field="time" header="Time" [filter]="true" [style]="{'width':'70px'}"
        sortable="custom" (sortFunction)="sort($event)">
		    <ng-template pTemplate="header">
			    <span label="Time" style="padding:4px;">Time</span>
		    </ng-template>
        <ng-template pTemplate="body" let-call="rowData">
          <div pTooltip="Time"
            tooltipPosition="top"
            class="cell" style="width:100%;white-space:nowrap"
            (click)="onRowSelect(call)">
              {{ call.end ? call.time+' ms' : '' }}
          </div>
        </ng-template>
      </p-column>
      <!-- requestlen -->
      <p-column field="requestlen" header="request length" [filter]="true" [style]="{'width':'70px'}"
        sortable="custom" (sortFunction)="sort($event)">
		    <ng-template pTemplate="header">
			    <span label="requestlen" style="padding:4px;white-space:nowrap;">req. length</span>
		    </ng-template>
        <ng-template pTemplate="body" let-call="rowData">
          <div pTooltip="{{ call.request | xmlesc }}" [escape]="false"
            tooltipPosition="top"
            class="cell" style="width:9px"
            (click)="onRowSelect(call)">
              {{ call.requestlen }}
          </div>
        </ng-template>
      </p-column>
      <!-- responselen -->
      <p-column field="responselen" header="response length" [filter]="true" [style]="{'width':'70px'}"
        sortable="custom" (sortFunction)="sort($event)">
		    <ng-template pTemplate="header">
			    <span label="response" style="padding:4px;white-space:nowrap;">resp. length</span>
		    </ng-template>
        <ng-template pTemplate="body" let-call="rowData">
          <div pTooltip="{{call.response | xmlesc }}" [escape]="false"
            tooltipPosition="top"
            class="cell" style="width:9px"
            (click)="onRowSelect(call)">
              {{ call.end ? call.responselen : '' }}
          </div>
        </ng-template>
      </p-column>
      <!-- buttons -->
      <p-column field="responselen" header="copy" [filter]="false" [style]="{'width':'70px'}">
		    <ng-template pTemplate="header">
			    <span label="Copy" style="padding:4px;white-space:nowrap;">Copy</span>
		    </ng-template>
        <ng-template pTemplate="body" let-call="rowData">
          <div style="white-space:nowrap;">
          <button pTooltip="Copy Request" [escape]="false" tooltipPosition="top" class="cell" (click)="onCopyRequest(call)">
              Req.
          </button>
          <button pTooltip="Copy Response" [escape]="false" tooltipPosition="top" class="cell" (click)="onCopyResponse(call)">
              Resp.
          </button>
          </div>
        </ng-template>
      </p-column>

  </p-dataTable>
</div>
